                    .desk5-block {
                    display: flex;
                    flex-direction: column;
                    background: var(--src) center center/cover no-repeat;
                    background-color: #0d0308;
                }
                
                .desk5-block.layout {
                    position: relative;
                    overflow: hidden;
                }
                
                .desk5-group {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group.layout7 {
                    position: relative;
                    height: 776px;
                    width: 64.03%;
                    margin: 70px auto 93px;
                }
                
                .desk5-group.layout {
                    position: absolute;
                    top: 0px;
                    height: 140px;
                    left: 0px;
                    right: 0px;
                    width: 77.01%;
                    margin: 0px auto 636px;
                }
                
                .desk5-hero-title-box {
                    display: flex;
                    justify-content: center;
                }
                
                .desk5-hero-title-box.layout {
                    position: absolute;
                    top: 0px;
                    bottom: 90px;
                    left: 0px;
                    right: 0px;
                }
                
                .desk5-hero-title {
                    font: 500 40px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: black;
                    text-align: center;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
                    letter-spacing: 1px;
                }
                
                .desk5-hero-title-span0 {
                    font: 500 1em/1.2 "Outfit", Helvetica, Arial, serif;
                    color: #ffffffff;
                    letter-spacing: 1px;
                }
                
                .desk5-hero-title-span1 {
                    font: 500 1em/1.2 "Outfit", Helvetica, Arial, serif;
                    background: linear-gradient(90deg, #F25042 50%, #FF097F 124.3%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent letter-spacing: 1px;
                }
                
                .desk5-subtitle {
                    display: flex;
                    justify-content: center;
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0.5px;
                    opacity: 0.77;
                }
                
                .desk5-subtitle.layout {
                    position: absolute;
                    top: 92px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    width: 85.35%;
                    margin: 0px auto;
                }
                
                .back4.layout {
                    padding-top: 4rem;
                    padding-left: 1.3rem;
                }
                
                .back4.img1 {
                    margin-right: 4.9rem;
                    width: 11px;
                    height: auto
                }
                
                .back4.img2 {
                    margin-right: 4.1rem;
                    width: 11px;
                    height: auto
                }
                
                .back4.img3 {
                    margin-right: 4.2rem;
                    width: 11px;
                    height: auto
                }
                
                .back4.img4 {
                    width: 11px;
                    height: auto
                }
                
                .desk5-group1 {
                    display: flex;
                    flex-direction: column;
                    background: var(--src) center center/cover no-repeat;
                    border-radius: 25px 25px 25px 25px;
                }
                
                .desk5-group1.layout {
                    position: absolute;
                    top: 0px;
                    height: 506px;
                    left: 0px;
                    right: 0px;
                    margin: 270px 0px 0px;
                    background: linear-gradient(144.98deg, rgba(255, 255, 255, 0.1) -48.28%, rgba(255, 255, 255, 0) 163.48%);
                    backdrop-filter: blur(42px);
                }
                
                .desk5-group.layout3 {
                    position: absolute;
                    top: 0px;
                    height: 10px;
                    left: 0px;
                    right: 0px;
                    width: 28.42%;
                    margin: 439px 12.8% 57px 58.79%;
                }
                
                .desk5-group.layout2 {
                    position: relative;
                    height: 10px;
                }
                
                .desk5-group.layout1 {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    width: 3.82%;
                    margin: 0px 64.12% 0px 32.06%;
                }
                
                .desk5-icon2 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-icon2.layout {
                    position: relative;
                    height: 10px;
                    width: 10px;
                    min-width: 10px;
                    z-index: 1;
                }
                
                .desk5-group2 {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group2.layout {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    min-height: 10px;
                    left: 0px;
                    right: 0px;
                    width: 3.82%;
                    margin: 0px 32.06% 0px 64.12%;
                }
                
                .desk5-background {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-background.layout {
                    position: relative;
                    flex-grow: 1;
                    min-height: 10px;
                    width: 100%;
                    margin: 0px 0px;
                }
                
                .desk5-icon2.layout1 {
                    position: absolute;
                    top: 0px;
                    height: 10px;
                    left: 0px;
                    width: 10px;
                    min-width: 10px;
                }
                
                .desk5-icon2.layout2 {
                    position: absolute;
                    top: 0px;
                    height: 10px;
                    width: 10px;
                    min-width: 10px;
                    right: 0px;
                }
                
                .desk5-icon2.layout3 {
                    position: absolute;
                    top: 0px;
                    height: 10px;
                    left: 11.5vw;
                    width: 10px;
                    min-width: 10px;
                }
                
                .desk5-group.layout4 {
                    position: absolute;
                    top: 191px;
                    height: 285px;
                    left: 26px;
                    width: 25px;
                }
                
                .desk5-icon {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-icon.layout {
                    position: absolute;
                    top: 0px;
                    height: 25px;
                    left: 0px;
                    width: 25px;
                    min-width: 25px;
                    margin: 260px 0px 0px;
                }
                
                .desk5-icon1 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-icon1.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    width: 11px;
                    min-width: 11px;
                    margin: 0px 7px 274px;
                }
                
                .desk5-icon1.layout1 {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    width: 11px;
                    min-width: 11px;
                    margin: 28px 7px 246px;
                }
                
                .desk5-icon1.layout2 {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    width: 11px;
                    min-width: 11px;
                    margin: 56px 7px 218px;
                }
                
                .desk5-icon1.layout3 {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    width: 11px;
                    min-width: 11px;
                    margin: 84px 7px 190px;
                }
                
                .desk5-group3 {
                    display: flex;
                    flex-direction: column;
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-group3.layout {
                    position: absolute;
                    top: 0px;
                    height: 153px;
                    left: 0px;
                    right: 0px;
                    width: 44.79%;
                    margin: 31px 46.1% 322px 9.11%;
                }
                
                .desk5-group.layout6 {
                    position: relative;
                    height: 25px;
                    width: 71.19%;
                    margin: 22px 24.7% 106px 4.12%;
                }
                
                .desk5-group.layout5 {
                    position: relative;
                    height: 25px;
                }
                
                .desk5-group4 {
                    display: flex;
                    flex-direction: column;
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-group4.layout {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    width: 25px;
                    min-width: 25px;
                }
                
                .desk5-image1 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-image1.layout {
                    position: relative;
                    height: 11px;
                    width: 17px;
                    min-width: 17px;
                    margin: 7px 4px;
                }
                
                .desk5-group5 {
                    display: flex;
                    flex-direction: column;
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-group5.layout {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    width: 25px;
                    min-width: 25px;
                    margin: 0px auto;
                }
                
                .desk5-image1.layout1 {
                    position: relative;
                    height: 11px;
                    width: 11px;
                    min-width: 11px;
                    margin: 7px;
                }
                
                .desk5-group6 {
                    display: flex;
                    flex-direction: column;
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-group6.layout {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    width: 25px;
                    min-width: 25px;
                    right: 0px;
                }
                
                .desk5-image1.layout2 {
                    position: relative;
                    height: 11px;
                    width: 11px;
                    min-width: 11px;
                    margin: 7px;
                }
                
                .desk5-group7 {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group7.layout {
                    position: absolute;
                    top: 31px;
                    bottom: 322px;
                    left: 0px;
                    right: 0px;
                    width: 19.52%;
                    margin: 0px 23.86% 0px 56.62%;
                }
                
                .desk5-icon3 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-icon3.layout {
                    position: absolute;
                    top: 19px;
                    height: 35px;
                    width: 35px;
                    left: -100vw;
                    right: -100vw;
                    margin: 0px auto;
                    z-index: 1;
                }
                
                .desk5-background1 {
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-background1.layout {
                    position: relative;
                    height: 153px;
                    width: 100%;
                    margin: 0px 0px;
                }
                
                .desk5-group8 {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group8.layout {
                    position: absolute;
                    top: 199px;
                    bottom: 154px;
                    left: 0px;
                    right: 0px;
                    width: 19.52%;
                    margin: 0px 23.86% 0px 56.62%;
                }
                
                .desk5-image4 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-image4.layout {
                    position: absolute;
                    top: 19px;
                    height: 35px;
                    width: 23px;
                    left: -100vw;
                    right: -100vw;
                    margin: 0px auto;
                    z-index: 1;
                }
                
                .desk5-background2 {
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-background2.layout {
                    position: relative;
                    height: 153px;
                    width: 100%;
                    margin: 0px 0px;
                }
                
                .desk5-background3 {
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-background3.layout {
                    position: absolute;
                    top: 0px;
                    height: 266px;
                    left: 0px;
                    right: 0px;
                    width: 44.79%;
                    margin: 203px 46.1% 37px 9.11%;
                }
                
                .desk5-background4 {
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-background4.layout {
                    position: absolute;
                    top: 0px;
                    height: 102px;
                    left: 0px;
                    right: 0px;
                    width: 40.56%;
                    margin: 367px 2.82% 37px 56.62%;
                }
                
                .desk5-group9 {
                    display: flex;
                    flex-direction: column;
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-group9.layout {
                    position: absolute;
                    top: 0px;
                    height: 153px;
                    left: 0px;
                    right: 0px;
                    width: 19.52%;
                    margin: 199px 2.82% 154px 77.66%;
                }
                
                .desk5-icon4 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-icon4.layout {
                    position: absolute;
                    top: 20px;
                    height: 34px;
                    width: 35px;
                    left: -100vw;
                    right: -100vw;
                    margin: 0px auto;
                }
                
                .desk5-group10 {
                    display: flex;
                    flex-direction: column;
                    background-color: #28161b;
                    border-radius: 11px 11px 11px 11px;
                }
                
                .desk5-group10.layout {
                    position: absolute;
                    top: 0px;
                    height: 153px;
                    left: 0px;
                    right: 0px;
                    width: 19.52%;
                    margin: 31px 2.82% 322px 77.66%;
                }
                
                .desk5-box4 {
                    background-color: rgba(202, 202, 202, 0.027);
                }
                
                .desk5-box4.layout {
                    position: absolute;
                    top: 0px;
                    height: 115px;
                    left: 0px;
                    right: 0px;
                    width: 0.22%;
                    margin: 50px 60.85% 341px 38.94%;
                }
                
                .desk5-box4.layout1 {
                    position: absolute;
                    top: 0px;
                    height: 115px;
                    left: 0px;
                    right: 0px;
                    width: 0.22%;
                    margin: 50px 75.7% 341px 24.08%;
                }
                
                .desk5-subtitle1 {
                    display: flex;
                    justify-content: center;
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle1.layout {
                    position: absolute;
                    top: 97px;
                    bottom: 385px;
                    left: 0px;
                    right: 0px;
                    width: 1.95%;
                    margin: 0px 86.98% 0px 11.06%;
                }
                
                .desk5-subtitle2 {
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle2.layout {
                    position: absolute;
                    top: 97px;
                    bottom: 385px;
                    left: 0px;
                    right: 0px;
                    width: 6.62%;
                    margin: 0px 80.15% 0px 13.23%;
                }
                
                .desk5-subtitle3 {
                    display: flex;
                    justify-content: center;
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle3.layout {
                    position: absolute;
                    top: 97px;
                    bottom: 385px;
                    left: 0px;
                    right: 0px;
                    width: 1.95%;
                    margin: 0px 86.98% 0px 11.06%;
                }
                
                .desk5-subtitle4 {
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle4.layout {
                    position: absolute;
                    top: 97px;
                    bottom: 385px;
                    left: 0px;
                    right: 0px;
                    width: 6.62%;
                    margin: 0px 80.15% 0px 13.23%;
                }
                
                .desk5-subtitle5 {
                    display: flex;
                    justify-content: center;
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle5.layout {
                    position: absolute;
                    top: 96px;
                    bottom: 386px;
                    left: 0px;
                    right: 0px;
                    width: 1.95%;
                    margin: 0px 72.67% 0px 25.38%;
                }
                
                .desk5-subtitle6 {
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle6.layout {
                    position: absolute;
                    top: 96px;
                    bottom: 386px;
                    left: 0px;
                    right: 0px;
                    width: 4.34%;
                    margin: 0px 68.11% 0px 27.55%;
                }
                
                .desk5-subtitle7 {
                    font: 500 20px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.5px;
                }
                
                .desk5-subtitle7.layout {
                    position: absolute;
                    top: 97px;
                    bottom: 385px;
                    left: 0px;
                    right: 0px;
                    width: 4.88%;
                    margin: 0px 54.77% 0px 40.35%;
                }
                
                .desk5-box5 {
                    background-color: rgba(183, 235, 216, 0.419);
                    border-radius: 3px 3px 3px 3px;
                    opacity: 0.41;
                }
                
                .desk5-box5.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 3.69%;
                    margin: 154px 85.03% 341px 11.28%;
                }
                
                .desk5-box6 {
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 3px 3px 3px 3px;
                    opacity: 0.4;
                }
                
                .desk5-box6.layout {
                    position: absolute;
                    top: 0px;
                    height: 13px;
                    left: 0px;
                    right: 0px;
                    width: 5.53%;
                    margin: 154px 54.12% 339px 40.35%;
                }
                
                .desk5-group11 {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group11.layout {
                    position: absolute;
                    top: 157px;
                    bottom: 343px;
                    left: 0px;
                    right: 0px;
                    width: 1.3%;
                    margin: 0px 86.23% 0px 12.47%;
                }
                
                .desk5-image2 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-image2.layout {
                    position: absolute;
                    top: 1px;
                    height: 4px;
                    left: -6px;
                    width: 3px;
                }
                
                .desk5-small-text-body {
                    font: 500 5px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.13px;
                }
                
                .desk5-small-text-body.layout {
                    position: relative;
                    flex-grow: 1;
                    width: 100%;
                    margin: 0px 0px;
                }
                
                .desk5-box5.layout1 {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 3.69%;
                    margin: 154px 70.61% 341px 25.7%;
                }
                
                .desk5-group12 {
                    display: flex;
                    flex-direction: column;
                }
                
                .desk5-group12.layout {
                    position: absolute;
                    top: 157px;
                    bottom: 343px;
                    left: 0px;
                    right: 0px;
                    width: 1.19%;
                    margin: 0px 71.91% 0px 26.9%;
                }
                
                .desk5-small-text-body1 {
                    display: flex;
                    justify-content: center;
                    font: 500 5px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0.13px;
                }
                
                .desk5-small-text-body1.layout {
                    position: absolute;
                    top: 157px;
                    bottom: 343px;
                    left: 0px;
                    right: 0px;
                    width: 4.23%;
                    margin: 0px 54.83% 0px 40.94%;
                }
                
                .desk5-small-text-body2 {
                    font: 500 5px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.13px;
                    opacity: 0.56;
                }
                
                .desk5-small-text-body2.layout {
                    position: absolute;
                    top: 84px;
                    bottom: 416px;
                    left: 0px;
                    right: 0px;
                    width: 4.99%;
                    margin: 0px 69.31% 0px 25.7%;
                }
                
                .desk5-small-text-body3 {
                    font: 500 5px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0.13px;
                    opacity: 0.56;
                }
                
                .desk5-small-text-body3.layout {
                    position: absolute;
                    top: 84px;
                    bottom: 416px;
                    left: 0px;
                    right: 0px;
                    width: 3.8%;
                    margin: 0px 85.25% 0px 10.95%;
                }
                
                .desk5-highlights {
                    font: 600 15px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    letter-spacing: 0px;
                }
                
                .desk5-highlights.layout {
                    position: absolute;
                    top: 383px;
                    bottom: 105px;
                    left: 0px;
                    right: 0px;
                    width: 4.45%;
                    margin: 0px 36.77% 0px 58.79%;
                }
                
                .desk5-box7 {
                    background-color: #e74a4a;
                    border-radius: 5px 5px 5px 5px;
                }
                
                .desk5-box7.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 35.25%;
                    margin: 415px 5.97% 80px 58.79%;
                }
                
                .desk5-box8 {
                    background-color: white;
                    border-radius: 0px 5px 5px 0px;
                    opacity: 0.88;
                }
                
                .desk5-box8.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 8.35%;
                    margin: 415px 5.97% 80px 85.68%;
                }
                
                .desk5-box9 {
                    background-color: black;
                    opacity: 0.88;
                }
                
                .desk5-box9.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 8.35%;
                    margin: 415px 14.32% 80px 77.33%;
                }
                
                .desk5-box10 {
                    background-color: #866262;
                }
                
                .desk5-box10.layout {
                    position: absolute;
                    top: 0px;
                    height: 11px;
                    left: 0px;
                    right: 0px;
                    width: 8.35%;
                    margin: 415px 22.67% 80px 68.98%;
                }
                
                .desk5-cover1 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-cover1.layout {
                    position: absolute;
                    top: 0px;
                    height: 184px;
                    left: 0px;
                    right: 0px;
                    width: 38.29%;
                    margin: 244px 49.35% 78px 12.36%;
                }
                
                .desk5-image3 {
                    background: var(--src) center center/cover no-repeat;
                }
                
                .desk5-image3.layout {
                    position: absolute;
                    top: 0px;
                    height: 100px;
                    left: 0px;
                    right: 0px;
                    width: 37.96%;
                    margin: 283px 49.57% 123px 12.47%;
                }
                
                .desk5-highlights.layout1 {
                    position: absolute;
                    top: 97px;
                    bottom: 391px;
                    left: 0px;
                    right: 0px;
                    width: 3.15%;
                    margin: 0px 31.78% 0px 65.08%;
                }
                
                .desk5-highlights.layout2 {
                    position: absolute;
                    top: 265px;
                    bottom: 223px;
                    left: 0px;
                    right: 0px;
                    width: 3.15%;
                    margin: 0px 10.63% 0px 86.23%;
                }
                
                .desk5-highlights.layout3 {
                    position: absolute;
                    top: 265px;
                    bottom: 223px;
                    left: 0px;
                    right: 0px;
                    width: 3.15%;
                    margin: 0px 31.89% 0px 64.97%;
                }
                
                .desk5-highlights.layout4 {
                    position: absolute;
                    top: 96px;
                    bottom: 392px;
                    left: 0px;
                    right: 0px;
                    width: 3.15%;
                    margin: 0px 10.74% 0px 86.12%;
                }
                
                .desk5-box11 {
                    background-color: rgba(134, 98, 98, 0.258);
                    border-radius: 5px 5px 5px 5px;
                    opacity: 0.25;
                }
                
                .desk5-box11.layout {
                    position: absolute;
                    top: 0px;
                    height: 22px;
                    left: 0px;
                    right: 0px;
                    width: 16.7%;
                    margin: 148px 25.16% 336px 58.13%;
                }
                
                .desk5-small-text-body11 {
                    display: flex;
                    justify-content: center;
                    font: 500 12px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0px;
                }
                
                .desk5-small-text-body11.layout {
                    position: absolute;
                    top: 151px;
                    bottom: 340px;
                    left: 0px;
                    right: 0px;
                    width: 3.8%;
                    margin: 0px 31.72% 0px 64.48%;
                }
                
                .desk5-box11.layout1 {
                    position: absolute;
                    top: 0px;
                    height: 22px;
                    left: 0px;
                    right: 0px;
                    width: 16.7%;
                    margin: 320px 4.01% 164px 79.28%;
                }
                
                .desk5-small-text-body12 {
                    display: flex;
                    justify-content: center;
                    font: 500 12px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0px;
                }
                
                .desk5-small-text-body12.layout {
                    position: absolute;
                    top: 323px;
                    bottom: 168px;
                    left: 0px;
                    right: 0px;
                    width: 3.8%;
                    margin: 0px 10.57% 0px 85.63%;
                }
                
                .desk5-box11.layout2 {
                    position: absolute;
                    top: 0px;
                    height: 22px;
                    left: 0px;
                    right: 0px;
                    width: 16.7%;
                    margin: 320px 25.16% 164px 58.13%;
                }
                
                .desk5-small-text-body13 {
                    display: flex;
                    justify-content: center;
                    font: 500 12px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0px;
                }
                
                .desk5-small-text-body13.layout {
                    position: absolute;
                    top: 323px;
                    bottom: 168px;
                    left: 0px;
                    right: 0px;
                    width: 3.8%;
                    margin: 0px 31.72% 0px 64.48%;
                }
                
                .desk5-box11.layout3 {
                    position: absolute;
                    top: 0px;
                    height: 22px;
                    left: 0px;
                    right: 0px;
                    width: 16.7%;
                    margin: 148px 4.01% 336px 79.28%;
                }
                
                .desk5-small-text-body14 {
                    display: flex;
                    justify-content: center;
                    font: 500 12px/1.2 "Outfit", Helvetica, Arial, serif;
                    color: white;
                    text-align: center;
                    letter-spacing: 0px;
                }
                
                .desk5-small-text-body14.layout {
                    position: absolute;
                    top: 151px;
                    bottom: 340px;
                    left: 0px;
                    right: 0px;
                    width: 3.8%;
                    margin: 0px 10.57% 0px 85.63%;
                }
                
                @media only screen and (max-width: 800px) {
                    .desk5-group.layout {
                        top: -75px;
                        width: 100%;
                    }
                    .desk5-group.layout1 {
                        width: 90%
                    }
                    .desk5-subtitle.layout {
                        padding-top: 4.5rem;
                    }
                }
                
                @media only screen and (min-width: 1000px) {
                    .desk5-phone-img {
                        display: none;
                    }
                }
                
                @media only screen and (max-width: 1000px) {
                    .desk5-phone-img {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        margin: 380px 0px 0px;
                    }
                    .desk5-group1.layout {
                        display: none;
                    }
                    .desk5-group.layout7 {
                        position: relative;
                        height: 450px;
                        width: 80%;
                        margin: 70px auto 65px;
                    }